<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coffee for me. Salesmen working place</title>
</head>
<body>
    <div class="container">
        <h1 class="banner">Coffee for me -- Salesmen working place</h1>
        <h2 class="banner"> {{name}} </h2>

        <h2 class="banner">Select 1 additional to </h2>
        <h2>beverage selected: {{ beverage }}</h2>

        <div class="selection editor1">
            {%for i in to_send1%}
            <p><a class="slsm1" href="{{ beverage }}/{{i[0]}}" role="button">{{i[0]}}</a></p>
            {%endfor%}
        </div>

        <div class="error">
        </div>
    </div>
</body>

</html>
