<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coffee for me. Salesmen working place</title>
</head>
<body>
    <div class="container">
        <h1 class="banner">Coffee for me -- Salesmen working place</h1>
        <h2 class="banner"> {{name}} </h2>

        <h2>Beverage selected: {{ beverage }}</h2>
        <h2>Additional selected: {{ additional }}</h2>

        <div class="jump1">
            <p><a class="slsm" href="{{additional}}/bill" role="button">Get price</a>
            </p>

        </div>

        <div class="error">
        </div>
    </div>
</body>

</html>